Schedule.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FLIGHT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Airline" type="xs:string" />
        <xs:element name="FlightNumber" type="xs:unsignedByte" />
        <xs:element name="CommercialFlightNumber" type="xs:string" />
        <xs:element name="From" type="xs:string" />
        <xs:element name="To" type="xs:string" />
        <xs:element name="STD" type="xs:string" />
        <xs:element name="STA" type="xs:string" />
        <xs:element name="MaxPax" type="xs:byte" />
        <xs:element name="MaxCargo" type="xs:byte" />
        <xs:element name="Repetative" type="xs:unsignedByte" />
        <xs:element name="IsMaster" type="xs:unsignedByte" />
        <xs:element name="BeginDate" type="xs:string" />
        <xs:element name="EndDate" type="xs:string" />
        <xs:element name="Days" type="xs:unsignedInt" />
        <xs:element name="Payload" type="xs:byte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>